<% content_for :page_title do %>
  <title>New User - Select Guild Wars 2 Account | Casual Pwnography - Guild Wars 2</title>
<% end %>

<div class="user-registration-form">
  <%= form_for(@this_user, url: user_confirm_save_path(@this_user), html: {:class => "pure-form pure-form-stacked"}) do |f| %>
  <fieldset>
    <legend>Please select a Username and password</legend>
    <div class="pure-control-group">
      <%= f.label :discord_nick, "Discord Username", class: 'pwn-font blue' %>
      <%= f.text_field(:discord_nick, :readonly => true) %>
    </div>
    <div class="pure-control-group">
      <%= f.label :username, "User Name", class: 'pwn-font blue' %>
      <%= f.text_field(:username) %>
      <span class="pure-form-message">Case Sensitive</span>
    </div>
    <div class="pure-control-group">
      <%= f.label :password, "Password", class: 'pwn-font blue' %>
      <%= f.password_field(:password) %>
      <span class="pure-form-message">Case Sensitive</span>
    </div>
    <div class="pure-control-group">
      <%= f.label :password_confirmation, "Confirm Password", class: 'pwn-font blue' %>
      <%= f.password_field(:password_confirmation) %>
      <span class="pure-form-message">Case Sensitive</span>
    </div><br>
    <div class="pure-control-group">
      <%= f.submit("Submit!", class: 'pure-button pwn-button') %>
    </div>
  </fieldset>
  <% end %>
</div>