<% @categories = ["PvP", "WvWvW", "Dungeons", "Fractals", "Map Completion", "Guild Event", "Achievements", "Other"] %>

<%= form_with(model: guild_event, local: true) do |form| %>
  <% if guild_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guild_event.errors.count, "error") %> prohibited this guild_event from being saved:</h2>

      <ul>
      <% guild_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend class="pwn-font">Event Information</legend>

    <div class="pure-g guild_event_data">    
      <div class="field pure-u-1">
        <%= form.label :title, "Title", class: "classy blue" %>

        <%= form.text_field :title, id: :guild_event_title, required: true, class: 'pwn-font' %>
      </div>

      <div class="field pure-u-1-2">
        <%= form.label :start_time, "Start", class: "classy blue" %>

        <%= form.text_field :start_time_date, id: :guild_event_start_time_date, required: true %>
        <%= form.text_field :start_time_time, id: :guild_event_start_time_time, required: true %>
      </div>

      <div class="field pure-u-1-2">
        <%= form.label :end_time, "End", class: "classy blue" %>
        <%= form.text_field :end_time_date, id: :guild_event_end_time_date, required: true %>
        <%= form.text_field :end_time_time, id: :guild_event_end_time_time, required: true %>
      </div>

      <div class="field pure-u-1-3">
        <%= form.label :category, "Category", class: "classy blue" %>
        <%= form.select :category, options_for_select(@categories), id: :guild_event_category %>
      </div>

      <div class="field pure-u-1-3">
        <%= form.label :roster_size, "Roster Size", class: "classy blue" %>
        <%= form.number_field :roster_size, id: :guild_event_roster_size, min: 0 %>
        <span style="text-align: center;color:#484848;display:block;">0 for no limit, This number includes you</span>
      </div>

      <div class="field pure-u-1-3">
        <%= form.label :guild_only, "Guild Only?", class: 'classy blue' %>
        <%= form.check_box :guild_only, id: :guild_event_guild_only %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="classy blue">Event Description</legend>

    <div class="field editor-container">
      <%= form.text_area :description, id: :guild_event_description %>
    </div>
  </fieldset>


  <div class="actions">
    <%= form.submit "Submit Guild Event", class: 'pure-button pwn-button' %>
  </div>
<% end %>

<script type="text/javascript">
  $("#guild_event_start_time_date").pickadate();
  $("#guild_event_start_time_time").pickatime();
  $("#guild_event_end_time_date").pickadate();
  $("#guild_event_end_time_time").pickatime();
</script>
