<h1 class="blue classy wall-header">The Wall</h1>
<p class="home-header">Check out your guildie's latest posts!</p>
<hr>
<% if logged_in?  %>
	<%= link_to "New Post!", posts_path, class: 'pure-button', style: 'float: right;margin-top: 1em;margin-right: 1em;' %>
<% end %>
<% if Post.all.empty? %>
	<article>
	  <h2 style="text-align: center" class="blue pwn-font">Hm, nothing here</h2>
	  <p style="text-align: center">
	  	Looks like no one has had the chance to post anything yet.
	  </p>
	</article>	
<% else %>
	<% Post.all.each do |post| %>
		<article class="blog-post">
			<h2 class="blog-title blue classy">
				<%= post.title %><br>
				<span class="not-fancy">
					Written by <%= post.guild_member.username %> on <%= post.created_at.strftime("%B %d, %Y") %>
				</span>
			</h2>
			<p class="blog-content">
				<%= post.content %>
			</p>
		</article>
		<hr>
	<% end %>
<% end %>