<% content_for :page_title do %> 
	<title>Casual Pwnography - Guild Wars 2</title>
<% end %>

<h1 class="blue classy wall-header">The Wall<br><span class="not-fancy">What're you up to?</span></h1>
<hr>
<% if logged_in?  %>
	<%= link_to(posts_path, class: 'pure-button pwn-button home__new-post') do %>
		<i class="fa fa-pencil"></i> Write a new post 
	<% end %>
<% end %>
<% if Post.all.empty? %>
	<article>
	  <h2 style="text-align: center" class="blue pwn-font">Hm, nothing here</h2>
	  <p style="text-align: center">
	  	Looks like no one has had the chance to post anything yet.
	  </p>
	</article>	
<% else %>
	<div class="post-container">
		<% @posts.each do |post| %>
			<% unless post.guild_only && !logged_in? %>
				<article class="blog-post">
					<h2 class="blog-title blue classy">
						<%= post.title %><br>
						<span class="not-fancy">
							<% if post.guild_member %>
								Written by <%= post.guild_member.username %> on <%= post.created_at.strftime("%B %d, %Y") %>
							<% else %>
								Written by a <strong>DELETED</strong> on <%= post.created_at.strftime("%B %d, %Y") %>
							<% end %>
						</span>
					</h2>
					<div class="blog-content">
						<%= raw post.content %>
					</div>
					<div class="share-social-media">
						<div style="float:right">
							<%= link_to "Open Post", posts_show_path(post), class: "pwn-font", style: "text-decoration:none;" %>
							<iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= u "#{root_url}#{posts_show_path(post)}" %>&layout=button&size=small&mobile_iframe=true&width=58&height=20&appId" width="58" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
							<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=<%= u "Checkout this guild post!" %>&url=<%= u "#{root_url[0..-2]}#{posts_show_path(post)}" %>"><%= image_tag("tweet.png") %></a>
						</div>
					</div>
					<hr>
				</article>
			<% end %>
		<% end %>	
		<%= paginate @posts %>	
	</div>
<% end %>