<h1 class="blue classy wall-header">The Wall<br><span class="not-fancy">What're you up to?</span></h1>
<hr>
<% if logged_in?  %>
	<%= link_to(posts_path, class: 'pure-button pwn-button home__new-post') do %>
		<i class="fa fa-pencil"></i> Write a new post 
	<% end %>
<% end %>
<% if Post.all.empty? %>
	<article>
	  <h2 style="text-align: center" class="blue pwn-font">Hm, nothing here</h2>
	  <p style="text-align: center">
	  	Looks like no one has had the chance to post anything yet.
	  </p>
	</article>	
<% else %>
	<div class="post-container">
		<% @posts.each do |post| %>
			<% unless post.guild_only && !logged_in? %>
				<article class="blog-post">
					<h2 class="blog-title blue classy">
						<%= post.title %><br>
						<span class="not-fancy">
							Written by <%= post.guild_member.username %> on <%= post.created_at.strftime("%B %d, %Y") %>
						</span>
					</h2>
					<div class="blog-content">
						<%= raw post.content %>
					</div>
				</article>
				<hr>
			<% end %>
		<% end %>	
		<%= paginate @posts %>	
	</div>
<% end %>