<section class="aside">

  <section class="aside__section resources__container">
    <h3 class="blue" style="padding-top:1em;">Resources</h3>
    <ul>
      <li><%= link_to "GW2 Boss Timer", "http://www.gw2timer.com/", class: "pwn-font", target: "_blank" %></li>
      <li><%= link_to "GW2 User Manual", "https://manual.guildwars2.com/en", class: "pwn-font", target: "_blank" %></li>
      <li><%= link_to "GW2 Combat", "https://whyigame.wordpress.com/the-beginners-guide-to-movement-in-combat-guild-wars-2/", class: "pwn-font", target: "_blank"  %></li>
      <li><%= link_to "GW2 Craft Power Leveling", "http://gw2crafts.net/", class: "pwn-font", target: "_blank" %></li>
      <li><%= link_to "GW2 Craft Gold", "https://www.gw2spidy.com/", class: "pwn-font", target: "_blank" %></li>
      <li><%= link_to "GW2 Trading Post", "https://www.gw2bltc.com/", class: "pwn-font", target: "_blank" %></li>
      <li><%= link_to "GW2 Dungeons", "http://gw2dungeons.net/", class: "pwn-font", target: "_blank" %></li>
    </ul>
  </section>
  
  <section class="aside__section discord__container">
    <h3 class="blue">Who's Online?</h3>
    <iframe src="https://discordapp.com/widget?id=328738686650810369&theme=dark" allowtransparency="true" frameborder="0"></iframe>
  </section>
  <% if logged_in? %>
    <% @aside_ongoing = GuildEvent.where('start_time < ?', Time.zone.now).where('end_time > ?', Time.zone.now).order(end_time: :asc).limit(3) %>
  <% else %>
    <% @aside_ongoing = GuildEvent.where('start_time < ?', Time.zone.now).where('end_time > ?', Time.zone.now).where(guild_only: false).order(end_time: :asc).limit(3) %>
  <% end %>

  <% if @aside_ongoing.count > 0 %>
    <section class="aside__section events__container">
      <h3 class="blue">Current Events</h3>
      <% @aside_ongoing.each do |this_event| %>
        <div class="aside__event">
          <%= link_to this_event.title, this_event, class: "pwn-font" %><br>
          Event ends in <%= distance_of_time_in_words(Time.zone.now, this_event.end_time) %>
        </div>
      <% end %>        
      </ul>

      <%= link_to "New Guild Event", new_guild_event_path, class: "pure-button pwn-button", style: "font-size: 0.618em;display:block;margin:0 auto;width: 50%;" %>
    </section>
  <% end %>
  
  <section class="aside__section donation__container">
    <h3 class="blue">Help us keep the site up! (Donations)</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAF777KUQA9TKhWI39V6I/MZCzHhBjUJrTgz+M13ZL5fdhlB8SBp9YwrjHp3RrpA29zvYJaq1IJBYXlONeVEAoIHe/LdqOSD61cAjb3tm2d3HX+tXT5q8GY3rBXYn99oiTlpaTZSRfLyUZ40IBIiUTwcr/efZqDNGo/tR+NwhTbcjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIZpfl1N+lrqmAgaBtiL0udhDu4zWBaaUVRqIu1I6AhKVGzDb0xBvAEQlPJL5ntEJ80T5sKfbc19g73/qT6qdj9819eL88Oawm+XBKjmvuUVjK0pbegU09j1F/eE0bj1hYpfigPFU8hB72UNqH5H9TCc2JA+rFGeai9QCIhR8JL3cdIaPAlI5yzs7YCrh53x5ARjLOgCoV8b1X3SHcP5iQjgFddCO4+5xUtdRboIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcxMDI4MDEwMjAyWjAjBgkqhkiG9w0BCQQxFgQUBMf9bDBzxVtOO5QDkTq3becvjoIwDQYJKoZIhvcNAQEBBQAEgYA87VySgGemjsuLXXY1jrbwa9gX2lYhPa9eH0FDpYzX2rPfI9mEzAIeZ9hHmytmAE1PtpU5Zh4nda2046OCZwsgKTbEYUaSQ9y9YLfIto7k+Mc7Jr3sotP4pZRM2hzjtUoaLRjzz4C2yeygzUHJl8wyjNUdycHMsRg3erUN4fQucQ==-----END PKCS7-----
    ">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </section>
</div>
