<% header_links = [] %>

<% header_links << ["Home", root_path] %>
<% header_links << ["About", "#"] %>
<% header_links << ["Events/LFG", "#"] %>
<% header_links << ["Apply", apply_path] %>

<header>
  <section class="header__container center">
    <div class="menu-btn">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="center pure-g">
      <section class="pure-u-1-4 pure-u-sm-1-6 pure-u-lg-1-12 header__logo">
      	<%= link_to image_tag("guild_logo.png", class: "pure-img"), root_path %>
      </section>
      <section class="pure-u-3-4 pure-u-sm-1-2 pure-u-lg-1-4 header__title">
	<div class="desktop-title">
		<%= link_to root_path do %>
	  		<h1 class="gold pwn-font"><span class="classy blue">Casual</span>Pwnography</h1>
	  	<% end %>
	</div>
	<div class="mobile-title">
		<%= link_to root_path do %>
		  <h1 class="blue"><span class="classy">Casual</span></h1>
		  <h1 class="gold">Pwnography</h1>
		<% end %>
	</div>
      </section>
      <section class="pure-u-1 pure-u-lg-2-3 header__navbar">
		<nav class="desktop-nav">
		  <ul class="menu">

		  	<% sign_in_text = "Sign In" %>
		  	<% sign_in_text = "Account" if logged_in? %>

		    <li><%= link_to sign_in_text, "#", class: "pure-button signin-button" %></li>
		    <% header_links.reverse.each do |array| %>
		      <li><%= link_to array[0], array[1], class: "gold" %></li>
		    <% end %>
		  </ul>
		</nav>
		<nav class="mobile-nav">
		  <ul class="menu">
		  	<% sign_in_text = "Sign In" %>
		  	<% sign_in_text = "Account" if logged_in? %>

		    <li><%= link_to sign_in_text, "#", class: "pure-button signin-button" %></li>
		    <% header_links.reverse.each do |array| %>
		      <li><%= link_to array[0], array[1], class: "gold" %></li>
		    <% end %>
		  </ul>
		</nav>

		<div class="sign-in-container" style="display:none;">
			<% if logged_in? %>
				<h2 class="pwn-font">My Account</h2>
				<%= link_to "Change Password", password_path, class: 'pure-button pwn-button' %><br>
				<%= link_to "Log Out", logout_path, method: :delete, class: 'pure-button pwn-button' %>
			<% else %>
				<h2 class="pwn-font">Login</h2>
				<%= form_tag("/login", method: :post, class: "pure-form pure-form-stacked") do %>
					<%= label_tag('username', "Username", class: 'pwn-font') %>
					<%= text_field_tag('username') %>
					<%= label_tag('password', "Password", class: 'pwn-font') %>
					<%= password_field_tag('password') %>
					<%= submit_tag("Login", class: "pure-button pwn-button") %>
				<% end %>
			<% end %>
		</div>
      </section>       
    </div>
  </section>
</header>
