<!DOCTYPE html>
<html>
  <head>
    <title>CasualPwnography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lte IE 8]>
	<link rel="stylesheet" href="<%= root_url %>css/grids-responsive-old-ie-min.css">
	<![endif]-->
    <!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="<%= root_url %>css/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link href="https://fonts.googleapis.com/css?family=Acme|Tangerine:700" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "global/header" %>
    <%= render "global/announcements" %>
    <section class="yield-wrapper">
      <div class="center pure-g">
	<div class="pure-u-3-4">
	  <%= yield %>
	</div>
	<div class="pure-u-1-4">
	  <%= render "global/aside" %>
	</div>
      </div>
    </section>
  </body>
</html>
