<!DOCTYPE html>
<html>
  <head>
    <title>CasualPwnography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lte IE 8]>
  	 <link rel="stylesheet" href="<%= root_url %>css/grids-responsive-old-ie-min.css">
  	<![endif]-->
    <!--[if gt IE 8]><!-->
    	<link rel="stylesheet" href="<%= root_url %>css/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link href="https://fonts.googleapis.com/css?family=Acme|Tangerine:700" rel="stylesheet">
    <script src="<%= root_url %>tinymce/tinymce.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#a1c3ff">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "global/header" %>
    <% if @announce && @announce.created_at > 7.days.ago %>
      <% puts @announce %>
      <%= render :partial => "global/announcements", :locals => {obj: @announce} %>
    <% end %>

    <section class="yield-wrapper">
      <div class="center pure-g">
      	<div class="pure-u-3-4 display-left-container">
          
          <% if notice %>
            <p class="notice"><%= notice %></p>  
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>

      	  <%= yield %>
      	</div>
      	<div class="pure-u-1-4">
      	  <%= render "global/aside" %>
      	</div>
      </div>
    </section>
  </body>
</html>
